extends layout

block content
	p Welcome to #{title}
	#{burgers}
	p Ate
	
	ul
		each val in devouredBurgers
			li= val
			

	p available

	ul
		each val in availableBurgers
			li= val
			form(name="delete-" + val method="post" action="/api/eat/" + val)
				input(type="submit" value="Eat")

	form(name="add-burger" method="post" action="/api/addburger")
		label(for="burger-name") Add Burger:
		input(type="text",name="burger-name",value="", required="required")
		input(type="submit" value="submit")